<footer>
    <div class="description">
        <p>
            Designed with ❤ By Yefri Encarnación.
        </p>
    </div>
    <div class="socialMedia">
        <a href="https://github.com/Yeffej" target="_blank">Github</a>
    </div>
</footer>