<header>
    <div>
        <a href="/">
            <h2 class="title">Yeff Forms</h2>
        </a>
    </div>
    <nav class="navigation">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/forms">Formularios</a></li>
        </ul>
    </nav>
</header>