<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./includes/head.ejs")  %> 
</head>
<body>
    <%- include("./includes/header.ejs")  %> 
    <section class="Forms">
        <a href="/forms/id" class="Form">
            <h4 class="Form_title">Titulo</h4>
            <p class="Form_description">
                Descripción: Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sint repellendus suscipit temporibus eaque fuga, id eius, recusandae 
                inventore error quaerat fugiat expedita ipsam impedit minus nulla. Harum 
                eveniet quas mollitia?</p>
            <span class="Form_author"><strong>Autor:</strong> Nombre Autor</span>
        </a>
    </section>
    <%- include("./includes/footer.ejs")  %> 
</body>
</html>