<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./includes/head.ejs")  %> 
</head>
<body>
    <%- include("./includes/header.ejs")  %> 
    <section class="Error">
        <h1 class="Error_title">Error 500: </h1>
        <p class="Error_details">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            Accusantium fuga, po.
        </p>
    </section>
    <%- include("./includes/footer.ejs")  %> 
</body>
</html>