.FormEdit {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, max-content);
    justify-items: center;
}

.FormEdit_data {
    grid-column: 1/3;
    border-collapse: collapse;
    margin-bottom: 30px;
}
.FormEdit_data thead{
    background: var(--secondaryColor-dark);
    color: var(--secondaryFontColor);
}
.FormEdit_data th{
    font-weight: 600;
    font-size: 1.2em;
    padding: 14px;
}
.FormEdit_data tbody{
    background-color: var(--mainColor-dark);
}
.FormEdit_data tbody td{
    font-size: .9em;
    padding: 8px;
    color: var(--BoldFontColor);
}

.FormEdit_Editor {
    min-width: 80%;
    align-self: flex-start;
    margin: 25px 0 0 35px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-evenly;
}
.Editor_title {
    grid-column: 1/3;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 10px;
}
.Editor {
    border: 2px solid #000;
    border-radius: 6px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, .5);
    padding: 15px;
}
.Editor_field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.Editor_field input {
    font-size: .85em;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #000;
}
.Editor_field label {
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 5px;
}
.Editor_field textarea {
    font-size: 1.1em;
    padding: 5px;
}
.Editor_action input[type="submit"]{
    min-width: 55%;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: var(--actionColor);
    box-shadow: inset -4px -4px 2px 0 var(--actionColor-dark);
    font-size: 1.1em;
    font-weight: 600;
    padding: 8px;
    cursor: pointer;
}

.Editor_questions {
    border: 2px solid #000;
    border-radius: 6px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, .5);
    padding: 15px;
}
.questions_title {
    font-size: 1.15em;
    font-weight: 600;
}
.questions_addBT {
    font-weight: 600;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
}
.questions_addBT:active {
    transform: scale(.8);
}
.questions_wrapper .Question label {
    font-size: .86em;
    font-weight: 600;
}
.questions_wrapper .Question input {
    margin: 0 2px;
    padding: 2px;
}
.questions_wrapper .Question select {
    border-radius: 2px;
    border: 1px solid #000;
    background-color: transparent;
}
.questions_wrapper .Question select:focus {
    outline: 2px solid var(--secondaryColor-dark);
}

.questions_saveBT {
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    border: 2px solid var(--actionColor-dark);
    border-radius: 5px;
    background-color: var(--actionColor);
    font-size: 1.1em;
    cursor: pointer;
    transition: 200ms transform;
}
.questions_saveBT:active {
    transform: scale(.8);
}